#Graph{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 25%;
	margin: auto;

	.link{
		stroke: #999;
		stroke-opacity: .6;
		stroke-width: 1px;
	}
}

#NavBar{
	min-height: 0;
	padding: 1rem 0;

	&.navbar-default{
		background-color: #f8f8f8;
		border-color: #e7e7e7;
	}
}