#ant specific
dist/
build/
!lib

#netbeans specific
nbproject/*
!nbproject/project.properties
!nbproject/project.xml
!nbproject/platform.properties

#java specific
*.class

#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock
